config_diagnostics = 1
openssl_conf = openssl_init

[openssl_init]
providers = provider_sect
alg_section = algorithm_sect

[provider_sect]
fips = fips_sect

[algorithm_sect]
default_properties = fips=yes

[fips_sect]
activate = 1
conditional-errors = 1
security-checks = 1
tls1-prf-ems-check = 1
drbg-no-trunc-md = 1
module-mac = 32:C5:75:F3:94:2A:EE:95:EF:85:F2:8A:4E:37:63:96:85:0F:75:73:2B:0D:26:2A:4C:C0:19:A4:04:D7:D1:AA
module-filename = fips.so
